@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');

body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30vh;
    background-attachment: fixed;
    font-family: 'Encode Sans SC', sans-serif;
    padding: 0;
    margin: 0;
    }
main{
    width: 100%;
}
input{
    width: 100%;
    border: none;
    padding: 8px 20px;
    font-weight: 800;
    letter-spacing: 2px;
    height: 30px;
    position: fixed;
    top: 0;
    font-size: 20px;
}
input:focus{
    outline: none;
}
li{
    color: white;
    list-style: none;
    padding: 8px 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
}
li:hover{
  background: white;
  color: black;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul{
    margin-top: 40px;
    padding-left: 1px;
}